---
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Head from "~/components/head.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";


const description =
  "Mikel-Jon (Mike) West: Video Editor, Visual Designer, Technician, Writer and Director";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <Head title="Mikel-Jon (Mike) West"
  description="Mikel-Jon (Mike) West: Video Editor, Visual Designer, Technician, Writer and Director"/>
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="px-8 py-32 space-y-24">
      <Intro />
      <Features />
      <Compatibility />
      <Showcase />
    </div>
    <Footer />
  </body>
</html>
