---
import HeroImage from "./hero-image.astro"

---

<div id="bokeh-bg" class="absolute inset-0 
  bg-indigo-900
  backdrop-blur-3xl 
">

<div class="bokeh-background -z-50 mix-blend-soft-light
">
<HeroImage />

    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
    <span class="mix-blend-hard-light"></span>
 </div>
</div>

 <style>
    @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.bokeh-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1a237e;
    overflow: hidden;
}

.bokeh-background span {
    width: 39vmin;
    height: 39vmin;
    border-radius: 39vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 14;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.bokeh-background span:nth-child(0) {
    color: #8742f5;
    top: 83%;
    left: 74%;
    animation-duration: 274s;
    animation-delay: -202s;
    transform-origin: -21vw -12vh;
    box-shadow: 78vmin 0 10.73717365592483vmin currentColor;
}
.bokeh-background span:nth-child(1) {
    color: #8742f5;
    top: 37%;
    left: 87%;
    animation-duration: 355s;
    animation-delay: -145s;
    transform-origin: -16vw -2vh;
    box-shadow: 78vmin 0 9.948234488788025vmin currentColor;
}
.bokeh-background span:nth-child(2) {
    color: #8742f5;
    top: 47%;
    left: 99%;
    animation-duration: 151s;
    animation-delay: -263s;
    transform-origin: -12vw 7vh;
    box-shadow: 78vmin 0 9.99271853324269vmin currentColor;
}
.bokeh-background span:nth-child(3) {
    color: #fb8888;
    top: 33%;
    left: 84%;
    animation-duration: 297s;
    animation-delay: -130s;
    transform-origin: -18vw 3vh;
    box-shadow: 78vmin 0 10.680679947139247vmin currentColor;
}
.bokeh-background span:nth-child(4) {
    color: #ff6190;
    top: 12%;
    left: 83%;
    animation-duration: 240s;
    animation-delay: -135s;
    transform-origin: 2vw 22vh;
    box-shadow: 78vmin 0 10.277403345699188vmin currentColor;
}
.bokeh-background span:nth-child(5) {
    color: #ff6190;
    top: 72%;
    left: 61%;
    animation-duration: 176s;
    animation-delay: -37s;
    transform-origin: 6vw -4vh;
    box-shadow: 78vmin 0 9.967869850171965vmin currentColor;
}
.bokeh-background span:nth-child(6) {
    color: #8742f5;
    top: 79%;
    left: 55%;
    animation-duration: 109s;
    animation-delay: -122s;
    transform-origin: 10vw -14vh;
    box-shadow: 78vmin 0 9.778575971518745vmin currentColor;
}
.bokeh-background span:nth-child(7) {
    color: #fb8888;
    top: 35%;
    left: 2%;
    animation-duration: 287s;
    animation-delay: -162s;
    transform-origin: 13vw -23vh;
    box-shadow: 78vmin 0 9.888984786547525vmin currentColor;
}
.bokeh-background span:nth-child(8) {
    color: #ff6190;
    top: 76%;
    left: 71%;
    animation-duration: 263s;
    animation-delay: -84s;
    transform-origin: -24vw 17vh;
    box-shadow: 78vmin 0 10.206027225264842vmin currentColor;
}
.bokeh-background span:nth-child(9) {
    color: #ff6190;
    top: 98%;
    left: 65%;
    animation-duration: 262s;
    animation-delay: -125s;
    transform-origin: 22vw -10vh;
    box-shadow: -78vmin 0 10.139998527858403vmin currentColor;
}
.bokeh-background span:nth-child(10) {
    color: #ff6190;
    top: 90%;
    left: 48%;
    animation-duration: 62s;
    animation-delay: -174s;
    transform-origin: 8vw 1vh;
    box-shadow: -78vmin 0 10.365475264172503vmin currentColor;
}
.bokeh-background span:nth-child(11) {
    color: #8742f5;
    top: 28%;
    left: 83%;
    animation-duration: 228s;
    animation-delay: -281s;
    transform-origin: -11vw -13vh;
    box-shadow: -78vmin 0 10.59233053693611vmin currentColor;
}
.bokeh-background span:nth-child(12) {
    color: #fb8888;
    top: 70%;
    left: 58%;
    animation-duration: 43s;
    animation-delay: -32s;
    transform-origin: 19vw -14vh;
    box-shadow: 78vmin 0 10.481343426387014vmin currentColor;
}
.bokeh-background span:nth-child(13) {
    color: #fb8888;
    top: 41%;
    left: 42%;
    animation-duration: 114s;
    animation-delay: -107s;
    transform-origin: -5vw 16vh;
    box-shadow: 78vmin 0 10.591024921700757vmin currentColor;
}
.bokeh-background span:nth-child(14) {
    color: #ff6190;
    top: 90%;
    left: 49%;
    animation-duration: 314s;
    animation-delay: -156s;
    transform-origin: 9vw -11vh;
    box-shadow: 78vmin 0 10.25431220911229vmin currentColor;
}
 </style>